* {
  height: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url(../img/FundoHome.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo{
  background-color:rgba(192, 10, 199, 0.727);
  border-radius:20px ;
}

/*Estilização Menu */

.container-menu {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

nav {
  position: relative;
  width: 523px;
  height: 50px;
  background: #930aab69;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #f8f2f2;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0px;
  width: 523px;
  height: 100%;
  background: #d707ee85;
  border-radius: 5px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 34px !important;
  width: 60px !important;
}

nav a:nth-child(2):hover ~ span {
  left: 152px !important;
  width: 88px;
}

nav a:nth-child(3):hover ~ span {
  left: 295px !important;
  width: 60px;
}

nav a:nth-child(4):hover ~ span {
  left: 408px !important;
  width: 80px;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*Estilização Titulo */
.container-home {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #ffffff;
}
/*Estilização Titulo */
.container-home h1 {
  color: #ffffff;
  font-family: cursive;
  font-size: 40px;
}

/*Estilização SubTitulo */
.conteudo-subtitulo {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #bdb4b4;
}

/*Estilização slider*/
.container-slider {
  justify-content: center;
  justify-content: center !important;
  justify-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  border-radius: 20px;
}

.slide .slide1 {
  width: 400px;
  height: 500px;
  border-radius: 5px;
  float: left;
}

.slide .slide2 {
  border-radius: 5px;
  width: 400px;
  height: 500px;
  float: left;
}

.slide .slide3 {
  border-radius: 5px;
  width: 400px;
  height: 500px;
  float: left;
}

.slide .slide4 {
  width: 400px;
  height: 500px;
  float: left;
  border-radius: 5px;
}

/*Estilização Container Sobre/About*/

.container-sobre {
  background-color: #00000090;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
/*Estilização Container Redes Sociais*/

.container-redes {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #edf0f1;
  background-color: #000000aa;
  padding: 10px;
  gap: 15px;
}
/*Estilização Container Rodapé*/
.container-rodape {
  height: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #edf0f1;
  background-color: #000000aa;
  margin-bottom: 0px;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.video-background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 63px; /* ou a altura desejada */
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

/*Responsive  */
@media (max-width: 415px) {
  .container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2px;
  }

  nav {
    width: 415px !important;
    gap: 2px !important;
  }
  /*span do menu Hover */
  nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 348px !important;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }

  nav a:nth-child(1):hover ~ span {
    left: 39px !important;
    width: 54px !important;
  }

  nav a:nth-child(2):hover ~ span {
    left: 102px !important;
    width: 78px !important;
  }

  nav a:nth-child(3):hover ~ span {
    left: 185px !important;
    width: 60px !important;
  }

  nav a:nth-child(4):hover ~ span {
    left: 255px !important;
    width: 70px !important;
  }

  /*Botoes do Menu nav */

  nav a {
    display: flex;
    margin-left: 5px;
  }

  nav .home {
    display: flex;
    justify-content: center;
    width: 68px;
  }

  nav .projects {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }

  nav .about {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }
  nav .contact {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }

  .conteudo-subtitulo {
    color: #fff9f9;
  }

  /*Estilização slider RESPONSIVE */

  .pj1 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj2 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj3 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }
  .pj4 h3 {
    letter-spacing: 2px;
    color: #ffffff;
    font-size: 10px;
  }

  h3:hover {
    color: #fff700;
  }

  .container-sobre {
    padding: 20px;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  .container-rodape {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #000000aa;
    padding: 20px;
  }
}
