* {
  height: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-image: url(../img/FundoHome.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Estilização Menu */

.container-menu {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-top: 0px;
}

nav {
  position: relative;
  width: 523px;
  height: 50px;
  background: #930aab69;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: #f8f2f2;
  text-decoration: none;
  padding: 0 23px;
  z-index: 1;
}

nav span {
  position: absolute;
  top: 0;
  left: 0px;
  width: 523px;
  height: 100%;
  background: #d707ee85;
  border-radius: 5px;
  transition: 0.5s;
}
nav a:nth-child(1):hover ~ span {
  left: 34px !important;
  width: 60px !important;
}

nav a:nth-child(2):hover ~ span {
  left: 152px !important;
  width: 88px;
}

nav a:nth-child(3):hover ~ span {
  left: 295px !important;
  width: 60px;
}

nav a:nth-child(4):hover ~ span {
  left: 408px !important;
  width: 80px;
}
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/*Estilização Titulo */
.container-home {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #ffffff;
}
/*Estilização Titulo */
.container-home h1 {
  color: #ffffff;
  font-family: cursive;
  font-size: 40px;
}

/*Estilização SubTitulo */
.conteudo-subtitulo {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 15px;
  color: #6e6e6e;
}

/*Estilização Container Projects*/

.titulo-projects {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 4px;
  font-size: 20px;
  align-items: center;
  background-color: #063d7c69;
  padding: 20px;
}

.container-projects {
  height: 200px;
  margin-top: 1px;
  display: flex;
  justify-content: center;
  gap: 20px;
  justify-items: center;
  text-align: justify;
  padding: 20px;
  color: #035677;
  font-family: "Montserrat", sans-serif;
  background-color: #063d7c69;
}
.titulo-projects h3 {
  font-size: 35px !important;
}

h3 {
  font-size: 15px !important;
}
h3:hover {
  color: #fff700;
}

/*Estilização Container Sobre/About*/

.container-sobre {
  background-color: #00000090;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

/*Estilização Container Redes*/

.container-redes {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  background-color: #000000aa;
  padding: 10px;
  gap: 15px;
}

/*Estilização Container Rodapé*/
.container-rodape {
  height: 80px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  color: #edf0f1;
  background-color: #000000aa;
  margin-bottom: 0px;
  font-size: 15px;
  padding-bottom: 5px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container Colecao1 editorial 1 */
.conteudo-subtitulo {
  text-align: center;
  color: #edf0f1;
}

.container-colecao1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 4px;
  gap: 5px;
  height: 510px;
  background-color: #d6bdd9af;
}

/* Container Colecao2 editorial 2 */
.conteudo-subtitulo {
  text-align: center;
}

.container-colecao2 {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 4px;
  gap: 5px;
  height: 510px;
  background-color: #ffffff77;
}

/* Container Colecao3 editorial 2 */
.conteudo-subtitulo {
  text-align: center;
}

.container-colecao3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  height: 550px;
  background-color: #fd080877;
}

/* Container Colecao3 editorial 3 */
.conteudo-subtitulo {
  text-align: center;
}

.container-colecao3 {
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 5px;
  height: 550px;
  background-color: #fd080877;
}

/*Responsive  */
@media (max-width: 415px) {
  .container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 2px;
  }

  nav {
    width: 415px !important;
    gap: 2px !important;
  }
  /*span do menu Hover */
  nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 348px !important;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
  }

  nav a:nth-child(1):hover ~ span {
    left: 39px !important;
    width: 54px !important;
  }

  nav a:nth-child(2):hover ~ span {
    left: 102px !important;
    width: 78px !important;
  }

  nav a:nth-child(3):hover ~ span {
    left: 185px !important;
    width: 60px !important;
  }

  nav a:nth-child(4):hover ~ span {
    left: 255px !important;
    width: 70px !important;
  }

  /*Botoes do Menu nav */

  nav a {
    display: flex;
    margin-left: 5px;
  }

  nav .home {
    display: flex;
    justify-content: center;
    width: 68px;
  }

  nav .projects {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }

  nav .about {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }
  nav .contact {
    display: flex;
    justify-content: center;
    width: 68px;
    gap: 10px !important;
  }

  .conteudo-subtitulo {
    color: #fff9f9;
  }

  .container-sobre {
    padding: 20px;
    margin-top: 0px;
    color: white;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }

  .container-rodape {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #000000aa;
    padding: 20px;
  }

  .container-colecao1 {
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 2px !important;
    height: 215px !important;
    background-color: #ffffff77;
    padding: 10px;
    padding-bottom: 0px;
  }

  /* Container Colecao2 editorial 2 GRID*/

  .container-colecao1 {
    height: 540px !important;
    width: 415px;
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
  }

  /* Container Colecao3 editorial 3 GRID*/

  .container-colecao2 {
    height: 540px !important;
    width: 415px;
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
  }

  .container-colecao3 {
    height: 540px !important;
    width: 415px;
    display: flex !important;
    justify-content: center !important;
    justify-items: center !important;
  }

  .container-carousel {
    margin-left: 52px;
    position: relative;
    width: 71%;
    max-width: 350px;
    height: 520px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; /* Espaçamento entre as seções */
  }

  .img1 {
    width: 285px !important;
    height: 520px !important;
  }

  .img2 {
    width: 286px !important;
    height: 520px !important;
  }

  .img3 {
    width: 286px !important;
    height: 520px !important;
  }

  .img4 {
    width: 284px !important;
    height: 520px !important;
  }

  .img5 {
    width: 285px !important;
    height: 520px !important;
  }

  .img6 {
    width: 287px !important;
    height: 520px !important;
  }

  .img7 {
    width: 285px !important;
    height: 520px !important;
  }

  .titulo-projects {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    color: #ffffff;
    letter-spacing: 4px;
    font-size: 20px;
    align-items: center;
    background-color: #063d7c69;
    padding: 20px;
  }

  .container-projects {
    height: 200px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    gap: 20px;
    justify-items: center;
    text-align: justify;
    padding: 20px;
    color: #035677;
    font-family: "Montserrat", sans-serif;
    background-color: #063d7c69;
  }
  .titulo-projects h3 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 12px !important;
  }
  h3:hover {
    color: #fff700;
  }
}
